:root {
    --primary: #D02F41;
    --secondary: #888484; 
    --text-color: #FFF;
    --text-secondary: #000;
    --text-tertiary: #555353;
}

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom: 500px;
}
/*Services Schedule*/

#services-schedule {
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), 
        url("../img/car_workshop1.jpg");
    background-position: center;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
}

#disclaimer h2,
#disclaimer #other {
    color: var(--primary);
}

#disclaimer h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

#disclaimer ul {
    margin-left: 2em;
}

#disclaimer .about-us {
    font-size: 1.3em;
    max-width: 350;
    font-weight: bold;
    margin-bottom: 1em;
}

#disclaimer #other {
    margin-top: .4em;
    font-weight: bold;
}

#schedule-form {
    background-color: var(--secondary);
    padding: 2em;
    max-width: 25%;
}

#schedule-form p{
    font-size: 1.5em;
    color: var(--text-secondary);
    margin-bottom: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

.form-group label{
    color: var(--text-tertiary);
    margin-bottom: .3em;
    font-weight: bold;
}

.form-group input,
.form-group select {
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    outline: none;

}

.btn {
    background-color: var(--primary);
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
    opacity: .8;
}

.btn:hover{
    opacity: 1;
}

/*Services*/
#key-services h2{
    background-color: var(--secondary);
    text-align: center;
    padding: 2em;
    font-weight: 500;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0 auto;
}

.service {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-tertiary);
}

.service .service-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
}

#service-1 {
    background-image: url("../img/service1.jpg");
}

#service-2 {
    background-image: url("../img/service2.jpg");
}

#service-3 {
    background-image: url("../img/service3.jpg");
}
/*Location*/
#location {
    height: 400px;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), 
        url("../img/car_workshop2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    margin-bottom: 3em;
}

#address, 
#business-hours{
    max-width: 40%;
}

#address {
    display: flex;
}

#address i {
    color: var(--primary);
    font-size: 4em;
    margin-right: .5em;
}

#about-location{
    text-align: center;
    font-size: 1.2em;
}

#business-hours h3{
    color: var(--primary);
    text-align: center;
    margin-bottom: .2em;
    font-size: 1.5em;

}

#business-hours table {
text-align: right;
    padding-left: .2em;
    font-size: 1.1em;
    
}

#business-hours th{
    line-height: 1.5em;
}

/*other services*/
#other-services {
    width: 80%;
    margin: 0 auto;
}

.other-service {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4em;
}

.other-service img {
    width: 50%;
}

.other-service h3 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 500;
}

#other-service-1{
    font-size: 1.2em;
}

.other-service-description {
    width: 100%;
    padding-left: 2em;
}

.other-service-description ul {
    list-style-position: inside;
}

.other-service-description ul li{
    margin-bottom: .4em;
}

.other-service-description ul li:last-child{
    font-weight: bold;
}